.header {
    height: 60px;
    font-size: 30pt;
    font-weight: bold;
    background-color: aliceblue;
}

.main {
    background-color: antiquewhite;
    height: 1000px;
}

.container_head {
    width: 1000px;
    margin: auto;
}

.main {
    width: 1000px;
    margin: auto;
}

.container_main_title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 26pt;
    border-bottom: 1pt solid;
}

.container_main_contents {
    
}

.container_main_contents img {
    border: 1pt solid;
    display: block;
    margin: auto;
}

.container_main_contents h2, h3 {
    margin-top: 60px;
    font-size: 32px;
}

.container_main_contents li {
    float: left;
    margin-right: 20px;
    font-size: 16pt;
}